<div id="Gandalf" ng-controller="GandalfController" class="gandalf-dashboard">

	<div class="umb-editor-sub-header umb-editor-sub-header--">

		<div class="umb-editor-sub-header__content-right">

			<umb-toggle checked="enabled"
						on-click="toggleStatus()"
						show-labels="true"
						label-on="Gandalf is on"
						label-off="Gandalf is off"
						label-position="left"
						hide-icons="false">
			</umb-toggle>

		</div>

	</div>

	<umb-box>

		<umb-box-content>

			<h3 class="bold">
				Our.Umbraco.Gandalf
			</h3>

			<div class="umb-panel-group__details-status-action">

				<p>
					Persistant IP whitelisting
				</p>

				<!-- Filter Content -->
				<input type="text"
					   ng-model="tableParams.filter()['Search']"
					   class="form-control input-block-level"
					   placeholder="Type to filter"
					   autofocus
					   no-dirty-check />

			</div>

			<!-- Error Message Content -->
			<div class="alert alert-danger"
				 ng-show="errorMessage.length > 0">

				<button type="button"
						class="close"
						ng-click="clearErrorMessage()">
					×
				</button>

				<p class="umb-notifications__notifications"> Error : {{errorMessage}}</p>

			</div>

			<table ng-table="tableParams"
				   template-header="header"
				   template-pagination="pager"
				   class="table table-bordered">

				<tbody>

					<tr ng-repeat="item in $data">

						<td data-title="'IP Address'" sortable="'IpAddress'">

							<a ng-if="!item.$edit" href="{{item.IpAddress}}" target="_blank">
								{{item.IpAddress}}
							</a>

							<div ng-if="item.$edit">
								<input class="form-control input-block-level"
									   type="text"
									   ng-model="item.IpAddress"
									   placeholder="IP Address"
									   no-dirty-check />
							</div>

						</td>

						<td data-title="'Notes'" sortable="'Notes'">

							<span ng-if="!item.$edit">
								{{item.Notes}}
							</span>

							<div ng-if="item.$edit">
								<input class="form-control input-block-level"
									   type="text"
									   ng-model="item.Notes"
									   placeholder="Notes"
									   no-dirty-check />
							</div>

						</td>

						<td data-title="'Last Updated'" sortable="'LastUpdated'">
							{{ item.LastUpdated | date:'dd/MM/yyyy HH:mma' }}
						</td>

						<td data-title="'Actions'">

							<div class="btn-group" role="group">

								<button ng-if="!item.$edit"
								        ng-click="item.$edit = true"
								        class="btn btn-info">
									Edit
								</button>

								<button ng-if="item.$edit  && item.Id != -1"
								        ng-click="updateItem(item)"
								        class="btn btn-success">
									Save
								</button>

								<button ng-if="item.Id != -1"
								        class="btn btn-danger"
								        ng-click="deleteItem(item)">
									Delete
								</button>

								<button ng-if="item.$edit  && item.Id == -1"
								        ng-click="addItem(item)"
								        class="btn btn-primary">
									Add
								</button>

							</div>
						</td>

					</tr>

				</tbody>

			</table>

		</umb-box-content>

	</umb-box>

</div>

<!-- Pagination Template for ngTable table -->
<script type="text/ng-template" id="pager">

	<ul class="pager">

		<li ng-repeat="page in pages"
			ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
			ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">

			<button type="button"
					ng-switch-when="prev"
					ng-click="params.page(page.number)"
					class="btn btn-default pull-left">
				&laquo; Previous
			</button>

			<button type="button"
					ng-switch-when="next"
					ng-click="params.page(page.number)"
					class="btn btn-default pull-right">
				Next &raquo;
			</button>

		</li>

		<li>

			<div class="btn-group">
				
				Show per page

				<button type="button"
						ng-class="{'active':params.count() == 10}"
						ng-click="params.count(10)"
						class="btn btn-info">
					10
				</button>

				<button type="button"
						ng-class="{'active':params.count() == 25}"
						ng-click="params.count(25)"
						class="btn btn-info">
					25
				</button>

				<button type="button"
						ng-class="{'active':params.count() == 50}"
						ng-click="params.count(50)"
						class="btn btn-info">
					50
				</button>

				<button type="button"
						ng-class="{'active':params.count() == 100}"
						ng-click="params.count(100)"
						class="btn btn-info">
					100
				</button>

			</div>

		</li>

	</ul>

</script>

<!-- Header Template for ngTable table -->
<script type="text/ng-template" id="header">

	<tr>

		<th title="{{$column.headerTitle(this)}}"
			ng-repeat="$column in $columns"
			ng-class="{ 'sortable': $column.sortable(this), 'sort-asc': params.sorting()[$column.sortable(this)]=='asc', 'sort-desc': params.sorting()[$column.sortable(this)]=='desc' }"
			ng-click="sortBy($column, $event)"
			ng-show="$column.show(this)"
			ng-init="template=$column.headerTemplateURL(this)"
			class="header {{$column.class(this)}}">

			<div ng-if="!template"
				 ng-show="!template"
				 class="ng-table-header"
				 ng-class="{'sort-indicator': $column.sortIndicator(this)=='div'}">

				<span ng-bind="$column.title(this)"
					  ng-class="{'sort-indicator': $column.sortIndicator(this)=='span'}">
				</span>

			</div>

			<div ng-if="template"
				 ng-show="template"
				 ng-include="template"></div>

		</th>

	</tr>

</script>